# Cleaning data
In this section of the project, the data is called from the dataset folder and some edits are applied.
At the beginning some essential libraries are installed.

In [1]:
import pandas as pd
import regex as re
import warnings
warnings.filterwarnings('ignore')
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
import pickle

Install some libraries if it is needed using ```pip install libraries_name```

In [2]:
# !pip install nltk
# !pip install regex

## Nasa Data

In [3]:
file_path = "../DataSet/"
file_name = "df_nasa.csv"
df_nasa = pd.read_csv(file_path+file_name)

In [4]:
df_nasa.shape

(6000, 83)

Check the column names and details as follow.

In [5]:
df_nasa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 83 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     6000 non-null   int64
 1   index                          6000 non-null   int64
 2   all_awardings                  5492 non-null   object
 3   allow_live_comments            4249 non-null   object
 4   author                         6000 non-null   object
 5   author_cakeday                 19 non-null     object
 6   author_flair_background_color  14 non-null     object
 7   author_flair_css_class         58 non-null     object
 8   author_flair_richtext          6000 non-null   object
 9   author_flair_template_id       30 non-null     object
 10  author_flair_text              58 non-null     object
 11  author_flair_text_color        58 non-null     object
 12  author_flair_type              6000 non-null   object
 13  author_fullname                6000 non-null   object
 14  author_patreon_flair           6000 non-null   bool
 15  author_premium                 928 non-null    object
 16  awarders                       2359 non-null   object
 17  can_mod_post                   6000 non-null   bool
 18  contest_mode                   6000 non-null   bool
 19  created_utc                    6000 non-null   int64
 20  crosspost_parent               8 non-null      object
 21  crosspost_parent_list          8 non-null      object
 22  domain                         6000 non-null   object
 23  edited                         2 non-null      float64
 24  full_link                      6000 non-null   object
 25  gilded                         16 non-null     float64
 26  gildings                       6000 non-null   object
 27  id                             6000 non-null   object
 28  is_crosspostable               6000 non-null   bool
 29  is_meta                        6000 non-null   bool
 30  is_original_content            6000 non-null   bool
 31  is_reddit_media_domain         6000 non-null   bool
 32  is_robot_indexable             6000 non-null   bool
 33  is_self                        6000 non-null   bool
 34  is_video                       6000 non-null   bool
 35  link_flair_background_color    1464 non-null   object
 36  link_flair_css_class           3698 non-null   object
 37  link_flair_richtext            6000 non-null   object
 38  link_flair_template_id         2101 non-null   object
 39  link_flair_text                3853 non-null   object
 40  link_flair_text_color          6000 non-null   object
 41  link_flair_type                6000 non-null   object
 42  locked                         6000 non-null   bool
 43  media                          400 non-null    object
 44  media_embed                    396 non-null    object
 45  media_metadata                 37 non-null     object
 46  media_only                     6000 non-null   bool
 47  no_follow                      6000 non-null   bool
 48  num_comments                   6000 non-null   int64
 49  num_crossposts                 6000 non-null   int64
 50  og_description                 33 non-null     object
 51  og_title                       33 non-null     object
 52  over_18                        6000 non-null   bool
 53  parent_whitelist_status        6000 non-null   object
 54  permalink                      6000 non-null   object
 55  pinned                         6000 non-null   bool
 56  post_hint                      2292 non-null   object
 57  preview                        2292 non-null   object
 58  pwls                           6000 non-null   int64
 59  removed_by                     109 non-null    object
 60  removed_by_category            170 non-null    object
 61  retrieved_on                   6000 non-null   int64
 62  score                          6000 non-null   int64
 63  secure_media                   400 non-null    object
 64  secure_media_embed             396 non-null    object
 65  selftext                       971 non-null    object
 66  send_replies                   6000 non-null   bool
 67  spoiler                        6000 non-null   bool
 68  steward_reports                2757 non-null   object
 69  stickied                       6000 non-null   bool
 70  subreddit                      6000 non-null   object
 71  subreddit_id                   6000 non-null   object
 72  subreddit_subscribers          6000 non-null   int64
 73  subreddit_type                 6000 non-null   object
 74  thumbnail                      6000 non-null   object
 75  thumbnail_height               2265 non-null   float64
 76  thumbnail_width                2265 non-null   float64
 77  title                          6000 non-null   object
 78  total_awards_received          5492 non-null   float64
 79  updated_utc                    4558 non-null   float64
 80  url                            6000 non-null   object
 81  whitelist_status               6000 non-null   object
 82  wls                            6000 non-null   int64
dtypes: bool(18), float64(6), int64(10), object(49)
memory usage: 3.1+ MB

Choose following column names.

In [6]:
keep_clmns = ['author', 'created_utc', 'domain', 'id', 'num_comments', 'over_18',
       'post_hint', 'score', 'selftext',
       'title']

In [7]:
df_nasa_keep_colmn = df_nasa[keep_clmns]

In [8]:
df_nasa_keep_colmn.head(5)

,author,created_utc,domain,id,num_comments,over_18,post_hint,score,selftext,title
0,illichian,1579413305,i.imgur.com,eqsltj,2,False,link,1,NaN,A star shining through Saturn's rings
1,itstie,1579412680,i.redd.it,eqsibf,0,False,NaN,1,NaN,From Smithsonian National Air and Space Museum
2,NASA_POTD_bot,1579410507,apod.nasa.gov,eqs6cb,0,False,NaN,1,NaN,M1: The Incredible Expanding Crab Nebula
3,AMC-Eagle85,1579410277,i.redd.it,eqs4zd,6,False,NaN,1,NaN,Columbia ready for STS-107
4,BorisTheSpacePerson,1579404939,i.redd.it,eqr7wu,0,False,NaN,1,NaN,I went to ksc for Christmas and got to see wha...

In [9]:
df_nasa_keep_colmn.isnull().sum()

author             0
created_utc        0
domain             0
id                 0
num_comments       0
over_18            0
post_hint       3708
score              0
selftext        5029
title              0
dtype: int64

I choose the same approach as Meghani did toward the imputing and dropping and editing columns.

In [10]:
df_nasa_keep_colmn["title"].fillna(" ", inplace=True)
df_nasa_keep_colmn["selftext"].fillna(" ", inplace=True)

df_nasa_keep_colmn['text_merged'] = df_nasa_keep_colmn['title'] + " " + df_nasa_keep_colmn['selftext']
df_nasa_keep_colmn.drop(columns = ["title", "selftext"], inplace=True)

df_nasa_keep_colmn['post_hint'].fillna("Empty", inplace=True)

Double check the colmns for null values.

In [11]:
df_nasa_keep_colmn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   author        6000 non-null   object
 1   created_utc   6000 non-null   int64
 2   domain        6000 non-null   object
 3   id            6000 non-null   object
 4   num_comments  6000 non-null   int64
 5   over_18       6000 non-null   bool
 6   post_hint     6000 non-null   object
 7   score         6000 non-null   int64
 8   text_merged   6000 non-null   object
dtypes: bool(1), int64(3), object(5)
memory usage: 381.0+ KB

In [12]:
df_nasa_keep_colmn.head()

,author,created_utc,domain,id,num_comments,over_18,post_hint,score,text_merged
0,illichian,1579413305,i.imgur.com,eqsltj,2,False,link,1,A star shining through Saturn's rings
1,itstie,1579412680,i.redd.it,eqsibf,0,False,Empty,1,From Smithsonian National Air and Space Museum
2,NASA_POTD_bot,1579410507,apod.nasa.gov,eqs6cb,0,False,Empty,1,M1: The Incredible Expanding Crab Nebula
3,AMC-Eagle85,1579410277,i.redd.it,eqs4zd,6,False,Empty,1,Columbia ready for STS-107
4,BorisTheSpacePerson,1579404939,i.redd.it,eqr7wu,0,False,Empty,1,I went to ksc for Christmas and got to see wha...

In [13]:
print(df_nasa_keep_colmn['text_merged'][0])
print(df_nasa_keep_colmn['text_merged'][5999])

A star shining through Saturn's rings
This is Saturn

## Space discussion data.

In [14]:
file_path = "../DataSet/"
file_name = "df_space.csv"
df_space = pd.read_csv(file_path+file_name)

In [15]:
df_space.shape

(6000, 78)

In [16]:
df_space.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 78 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     6000 non-null   int64
 1   index                          6000 non-null   int64
 2   all_awardings                  6000 non-null   object
 3   allow_live_comments            6000 non-null   bool
 4   author                         6000 non-null   object
 5   author_cakeday                 22 non-null     object
 6   author_flair_background_color  0 non-null      float64
 7   author_flair_css_class         0 non-null      float64
 8   author_flair_richtext          6000 non-null   object
 9   author_flair_text              14 non-null     object
 10  author_flair_text_color        14 non-null     object
 11  author_flair_type              6000 non-null   object
 12  author_fullname                6000 non-null   object
 13  author_patreon_flair           6000 non-null   bool
 14  author_premium                 3787 non-null   object
 15  awarders                       6000 non-null   object
 16  can_mod_post                   6000 non-null   bool
 17  contest_mode                   6000 non-null   bool
 18  created_utc                    6000 non-null   int64
 19  domain                         6000 non-null   object
 20  edited                         4 non-null      float64
 21  full_link                      6000 non-null   object
 22  gilded                         2 non-null      float64
 23  gildings                       6000 non-null   object
 24  id                             6000 non-null   object
 25  is_crosspostable               6000 non-null   bool
 26  is_meta                        6000 non-null   bool
 27  is_original_content            6000 non-null   bool
 28  is_reddit_media_domain         6000 non-null   bool
 29  is_robot_indexable             6000 non-null   bool
 30  is_self                        6000 non-null   bool
 31  is_video                       6000 non-null   bool
 32  link_flair_background_color    0 non-null      float64
 33  link_flair_css_class           1219 non-null   object
 34  link_flair_richtext            6000 non-null   object
 35  link_flair_template_id         2 non-null      object
 36  link_flair_text                1223 non-null   object
 37  link_flair_text_color          6000 non-null   object
 38  link_flair_type                6000 non-null   object
 39  locked                         6000 non-null   bool
 40  media                          443 non-null    object
 41  media_embed                    431 non-null    object
 42  media_metadata                 39 non-null     object
 43  media_only                     6000 non-null   bool
 44  no_follow                      6000 non-null   bool
 45  num_comments                   6000 non-null   int64
 46  num_crossposts                 6000 non-null   int64
 47  over_18                        6000 non-null   bool
 48  parent_whitelist_status        6000 non-null   object
 49  permalink                      6000 non-null   object
 50  pinned                         6000 non-null   bool
 51  post_hint                      2267 non-null   object
 52  preview                        2267 non-null   object
 53  pwls                           6000 non-null   int64
 54  removed_by                     329 non-null    object
 55  removed_by_category            639 non-null    object
 56  retrieved_on                   6000 non-null   int64
 57  score                          6000 non-null   int64
 58  secure_media                   443 non-null    object
 59  secure_media_embed             431 non-null    object
 60  selftext                       1176 non-null   object
 61  send_replies                   6000 non-null   bool
 62  spoiler                        6000 non-null   bool
 63  steward_reports                5999 non-null   object
 64  stickied                       6000 non-null   bool
 65  subreddit                      6000 non-null   object
 66  subreddit_id                   6000 non-null   object
 67  subreddit_subscribers          6000 non-null   int64
 68  subreddit_type                 6000 non-null   object
 69  suggested_sort                 3 non-null      object
 70  thumbnail                      6000 non-null   object
 71  thumbnail_height               2215 non-null   float64
 72  thumbnail_width                2215 non-null   float64
 73  title                          6000 non-null   object
 74  total_awards_received          6000 non-null   int64
 75  url                            6000 non-null   object
 76  whitelist_status               6000 non-null   object
 77  wls                            6000 non-null   int64
dtypes: bool(19), float64(7), int64(11), object(41)
memory usage: 2.8+ MB

In [17]:
df_space_keep_colmn = df_space[keep_clmns]

In [18]:
df_space_keep_colmn.head(5)

,author,created_utc,domain,id,num_comments,over_18,post_hint,score,selftext,title
0,Orchestratorgroup,1579412906,baysidesoap.com.au,eqsjlh,0,False,NaN,1,NaN,Basic Goats Milk Soap Base - Low Sweat
1,Official_CIA_Account,1579412748,self.space,eqsint,0,False,NaN,1,Sue: It looks like the NASA guys had to resche...,"Veep quote, S02E07"
2,toddvii,1579412727,self.space,eqsikq,4,False,NaN,1,"I’m gonna be real with you, I am a 21 year old...",Online space-related degree
3,ParkingCup7,1579411077,self.space,eqs9jw,1,False,NaN,1,&amp;#x200B;\r\n\r\nhttps://preview.redd.it/cn...,Took this with a camcorder since I don't have ...
4,nmdzwptsw,1579410811,universetoday.com,eqs831,0,False,NaN,1,NaN,A Mysterious Burst of Gravitational Waves Came...

In [19]:
df_space_keep_colmn.isnull().sum()

author             0
created_utc        0
domain             0
id                 0
num_comments       0
over_18            0
post_hint       3733
score              0
selftext        4824
title              0
dtype: int64

In [20]:
df_space_keep_colmn["title"].fillna(" ", inplace=True)
df_space_keep_colmn["selftext"].fillna(" ", inplace=True)

In [21]:
df_space_keep_colmn['text_merged'] = df_space_keep_colmn['title'] + " " + df_space_keep_colmn['selftext']
df_space_keep_colmn.drop(columns = ["title", "selftext"], inplace=True)

In [22]:
df_space_keep_colmn['post_hint'].fillna("Empty", inplace=True)

In [23]:
df_space_keep_colmn.head()

,author,created_utc,domain,id,num_comments,over_18,post_hint,score,text_merged
0,Orchestratorgroup,1579412906,baysidesoap.com.au,eqsjlh,0,False,Empty,1,Basic Goats Milk Soap Base - Low Sweat
1,Official_CIA_Account,1579412748,self.space,eqsint,0,False,Empty,1,"Veep quote, S02E07 Sue: It looks like the NASA..."
2,toddvii,1579412727,self.space,eqsikq,4,False,Empty,1,Online space-related degree I’m gonna be real ...
3,ParkingCup7,1579411077,self.space,eqs9jw,1,False,Empty,1,Took this with a camcorder since I don't have ...
4,nmdzwptsw,1579410811,universetoday.com,eqs831,0,False,Empty,1,A Mysterious Burst of Gravitational Waves Came...

In [24]:
df_space_keep_colmn.isnull().sum()

author          0
created_utc     0
domain          0
id              0
num_comments    0
over_18         0
post_hint       0
score           0
text_merged     0
dtype: int64

In [25]:
print(df_space_keep_colmn['text_merged'][0])
print(df_space_keep_colmn['text_merged'][5999])

Basic Goats Milk Soap Base - Low Sweat
The Eastern Veil Nebula

Adding a colmn to determine the source of each data (Nasa or Space) and merging two sets of data to one.

In [26]:
#Adding one column to determine the subreddit pulled from
df_nasa_keep_colmn["subreddit"] = "NASA"
df_space_keep_colmn["subreddit"] = "Space_discussion"
df_reddit = pd.concat([df_nasa_keep_colmn, df_space_keep_colmn], axis = 0, ignore_index=True)
df_reddit.head(5)

,author,created_utc,domain,id,num_comments,over_18,post_hint,score,text_merged,subreddit
0,illichian,1579413305,i.imgur.com,eqsltj,2,False,link,1,A star shining through Saturn's rings,NASA
1,itstie,1579412680,i.redd.it,eqsibf,0,False,Empty,1,From Smithsonian National Air and Space Museum,NASA
2,NASA_POTD_bot,1579410507,apod.nasa.gov,eqs6cb,0,False,Empty,1,M1: The Incredible Expanding Crab Nebula,NASA
3,AMC-Eagle85,1579410277,i.redd.it,eqs4zd,6,False,Empty,1,Columbia ready for STS-107,NASA
4,BorisTheSpacePerson,1579404939,i.redd.it,eqr7wu,0,False,Empty,1,I went to ksc for Christmas and got to see wha...,NASA

In [27]:
df_reddit.shape

(12000, 10)

Write a function to do regex on text_merged. We are going to do the following edits:

* **Removing "\n" characters**
* **Removing the [removed] characters**
* **Use regular expressions to do a find-and-replace**
* **Making all characters lower case**
* **Replacing multiple spaces**
* **Removing stopwords**
* **Instantiate object of class PorterStemmer and stemming**
* **Adding space to stitch the words together**

In [28]:
# inserting the parent directory into current path
import sys; sys.path.insert(1, '../Functions')
import text_cleaning 
text_cleaning.Apply(df_reddit)

,author,created_utc,domain,id,num_comments,over_18,post_hint,score,text_merged,subreddit
0,illichian,1579413305,i.imgur.com,eqsltj,2,False,link,1,star shine saturn ring,NASA
1,itstie,1579412680,i.redd.it,eqsibf,0,False,Empty,1,smithsonian nation air space museum,NASA
2,NASA_POTD_bot,1579410507,apod.nasa.gov,eqs6cb,0,False,Empty,1,incred expand crab nebula,NASA
3,AMC-Eagle85,1579410277,i.redd.it,eqs4zd,6,False,Empty,1,columbia readi st,NASA
4,BorisTheSpacePerson,1579404939,i.redd.it,eqr7wu,0,False,Empty,1,went ksc christma got see made interest spacef...,NASA
...,...,...,...,...,...,...,...,...,...,...
11995,MistWeaver80,1573344101,i.redd.it,du3zh9,1,False,image,1,strike imag jupit captur nasa juno spacecraft ...,Space_discussion
11996,Idontlikecock,1573344003,i.redd.it,du3yub,1768,False,Empty,1,use hour exposur night sky reveal hundr galaxi...,Space_discussion
11997,Anchor-shark,1573342956,spaceflightnow.com,du3r89,8,False,Empty,1,boe identifi starlin parachut malfunct caus hu...,Space_discussion
11998,rosebudlodestar,1573339672,vimeo.com,du32pq,0,False,Empty,1,carl sagan read complet chapter book pale blue...,Space_discussion
11999,martin96123,1573337600,i.redd.it,du2mbq,1,False,Empty,1,eastern veil nebula,Space_discussion

In [29]:
df_reddit.shape

(12000, 10)

In [30]:
df_reddit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   author        12000 non-null  object
 1   created_utc   12000 non-null  int64
 2   domain        12000 non-null  object
 3   id            12000 non-null  object
 4   num_comments  12000 non-null  int64
 5   over_18       12000 non-null  bool
 6   post_hint     12000 non-null  object
 7   score         12000 non-null  int64
 8   text_merged   12000 non-null  object
 9   subreddit     12000 non-null  object
dtypes: bool(1), int64(3), object(6)
memory usage: 855.6+ KB

Now let's use the pickle library to save the data.

In [31]:
pickle.dump(df_reddit, open('../DataSet/df_reddit.pkl', 'wb'))

In [32]:
pickle.dump(df_nasa_keep_colmn, open('../DataSet/df_nasa_keep_colmn.pkl', 'wb'))
pickle.dump(df_space_keep_colmn, open('../DataSet/df_space_keep_colmn.pkl', 'wb'))